<% @page_title = 'Neuen Mitarbeiter anlegen' -%>

<%= show_errors @employee.contact, 'die Kontaktinformationen zu speichern' %>
<%= show_errors @employee, 'den Mitarbeiter anzulegen' %>
<% pretty_form_for @employee do |f| %>
  <% new_contact = @employee.contact.new_record? -%>
  <%= render :partial => f, :locals => { :display => { :contact_choose_link => new_contact, :contact_fields => new_contact } } %>
  <p><%= f.submit 'Hinzufügen' %> <%= link_to 'Zurück zur Übersicht', employees_path, { :class => 'navlink' } %></p>
<% end %>