<% @page_title = 'Neuen Mitarbeiter anlegen' %>
<%= show_errors @employee.contact, 'die Kontaktinformationen zu speichern' %>
<%= show_errors @employee, 'den Mitarbeiter anzulegen' %>
<% form_for @employee, :html => { :class => 'pretty' } do |f| %>
	<%= render :partial => f, :locals => { :render_contact_choose_link => true } %>
	<p><%= f.submit 'Hinzufügen' %> <%= link_to 'Zurück zur Übersicht', employees_path, { :class => 'navlink' } %></p>
<% end %>