<%
  display ||= {}
  display[ :edit_form ] ||= false
-%>

<% content_tag_for :tr, item_rental do %>
  <% full_path = [ item_rental.rental_action, item_rental ] -%>
  <td class="item_rental_quantity">
    <% if display[ :edit_form ] -%>
      <%= render :partial => 'quantity_form', :object => item_rental %>
    <% else -%>
      <%= render :partial => 'quantity_text', :object => item_rental %>
    <% end -%>
  </td>
  <td><%= link_to h( item_rental.item.name ), item_category_item_path( item_rental.item.item_category, item_rental.item ) %></td>
  <td class="item_rental_price_without_discount">
    <%= format_currency item_rental.price_without_discount %>
  </td>
  <td class="item_rental_price">
    <%=format_currency item_rental.price %>
  </td>
  <td>
    <% if item_rental.handed_out? -%>
      ja
    <% else -%>
      <%= link_to 'nein', handed_out_rental_action_item_rental_path( *full_path ), :method => :put %>
    <% end -%>
  </td>
  <td>
    <% if item_rental.returned? -%>
      ja
    <% else -%>
      <%= link_to 'nein', returned_rental_action_item_rental_path( *full_path ), :method => :put %>
    <% end -%>
  </td>
  <td>
    <span class="item_rental_edit_button">
      <% unless display[ :edit_form ] -%>
        <%= render :partial => 'edit_button', :locals => { :full_path => full_path } %>   
      <% end -%>
    </span>
    <%= link_to icon_reset, reset_state_rental_action_item_rental_path( *full_path ), :method => :put, :confirm => 'Die Informationen 체ber den Verbleib des Ger채tes zur체cksetzen?' %>
    <%= link_to icon_delete, full_path, :method => :delete, :confirm => 'Dieses Ger채t wirklich aus der Liste entfernen?' %>
  </td>
<% end %>