<%
  full_path = [ item_note.item.item_category, item_note.item, item_note ]
-%>

<li class="item_note">
  <span class="date"><%= format_date item_note.event_date %></span>
  <span class="icon"><%= icon :note %></span>
  <span class="alignright">
    <%= link_to icon( :edit ), edit_item_category_item_item_note_path( *full_path ) %>  
    <%= link_to icon( :delete ), full_path, :method => :delete %>
  </span>
  <span><%=h item_note.content %></span>
</li>