<fieldset>
  <legend>Benutzerkonto</legend>
  <ol>
    <li><%= form.label :login, 'Benutzername:' %><%= form.text_field :login %></li>
    <li><%= form.label :email, 'E-Mail-Adresse: ' %><%= form.text_field :email %></li>
    <li><%= form.label :password, 'Passwort: ' %><%= form.password_field :password %></li>
    <li><%= form.label :password_confirmation, 'Passwort bestätigen: ' %><%= form.password_field :password_confirmation %></li>
  </ol>
</fieldset>