<%
  use_select_menu ||= false
  list_position ||= nil
  path ||= 'employee'

  skill = skill_field
-%>

<li class="skill">
<% fields_for_collection_element skill, path, 'skills', list_position do |f, id_prefix| -%>
  <% unless use_select_menu -%>
    <%= f.label :name, 'Fähigkeit: ' %>
    <%= f.text_field :name %>
    <%= link_to_function 'entfernen', "this.up( '.skill' ).remove()" %>
    <%= content_tag :div, nil, :class => 'auto_complete', :id => "#{ id_prefix }name_auto_complete" %>
    <%= auto_complete_field "#{ id_prefix }name", :param_name => 'search_query', :url => { :controller => 'skills', :action => 'auto_complete_for_skill_name' }, :method => :get %>
  <% else -%>
    <%= f.collection_select :name, Skill.all, :name, :name %>
    <%= link_to_function 'entfernen', "this.up( '.skill' ).remove()" %>
  <% end -%>
<% end -%>
</li>