<%
  display ||= {}
  display[ :links ] = true if display[ :links ].nil?
  display[ :children ] ||= false

  employees ||= skill.employees
-%>

<%= link_to_remote h( skill.name ), :url => skill_path( skill ), :method => :get %>

<% if display[ :links ] -%>
<span class="alignright">
  <%= link_to icon_add_child, new_employee_path( :skill_id => skill.id ) %> 
  <%= link_to icon_edit, edit_skill_path( skill ) %>
  <%= link_to icon_delete, skill_path( skill ), { :confirm => 'Soll "' + skill.name + '" wirklich gelöscht werden?', :method => :delete } %>
</span>
<% end -%>

<% if display[ :children ] -%>
  <%= render_sublist skill, :employees, 'Mitarbeiter mit diser Fähigkeit', :collection => employees %>
<% end -%>