<%= render :partial => 'contacts/contact_fields', :locals => { :contact => @customer.contact, :render_phone_numbers => true } %>
<% if render_contact_choose_link -%>
	<p><%= link_to 'Kontaktinformationen von Mitarbeiter übernehmen', choose_contact_template_customers_path %></p>
<% end -%>

<fieldset>
	<legend>Zusätzliche Informationen</legend>
	<ol>
		<li><%= form.label :discount, 'Preis: <em>*</em>' %> <%= form.text_field :discount %> Promille
		<li><%= form.label :comment, 'Kommentar: ' %><%= form.text_area :comment, { :cols => 60, :rows => 15 } %></li>
	</ol>
</fieldset>