<% @page_title = @customer.contact.name + ' – Editieren' -%>

<%= show_errors @customer.contact, 'die Kontaktinformationen zu speichern' %>
<%= show_errors @customer, 'die Kundendaten abzuändern' %>
<% edit_form_for @customer do |f| %>
	<%= render :partial => f %>
	<p><%= f.submit 'Ändern' %> <%= link_to 'Zurück', customer_path( @customer ), { :class => 'navlink' } %></p>
<% end %>