<% @page_title = @customer.contact.name + ' – Details' -%>

<h2>Kontaktdaten</h2>
<%= render :partial => @customer.contact %>

<h2>Geschäftliches</h2>
<p><strong>Üblicher Preis: </strong><%= format_percent @customer.price_factor %> %</p>

<h2>Kommentare</h2>
<% unless @customer.comment.empty? -%>
  <%= textilize h( @customer.comment ) %>
<% else -%>
  <p><em>keine</em></p>
<% end -%>

<h2>Letzte Mietvorgänge</h2>
<% unless @customer.rental_actions.empty? -%>
  <ul>
  <% for rental_action in @customer.rental_actions.all( :limit => 10 ) -%>
    <li><%= link_to rental_action.name, rental_action_path( rental_action )%></li>
  <% end -%>
  </ul>
<% else -%>
  <p><em>keine</em></p>
<% end -%>

<div class="navlinks">
  <%= choose_link ChoosingMode::RentalActionsChooseCustomer, @customer %>
  <%= choose_link ChoosingMode::EmployeesChooseContactTemplate, @customer.contact %>
  <p><%= link_to 'Kunden bearbeiten', edit_customer_path %></p> 
  <p><%= link_to 'Zurück zur Übersicht', customers_path %></p>
</div>