<% @page_title = @customer.contact.name + ' – Details' %>

<h2>Kontaktdaten</h2>
<%= render :partial => @customer.contact %>

<h2>Kommentare</h2>
<% unless @customer.comment.empty? %>
	<%= textilize( @customer.comment )%>
<% else %>
	<p><em>keine</em></p>
<% end %>

<h2>Sonstiges</h2>
<p><strong>Üblicher Preis: </strong><%=h @customer.discount * 0.1 %> %</p>

<h2>Letzte Mietvorgänge</h2>
<% unless @customer.rental_actions.empty? %>
	<ul>
	<% for rental_action in @customer.rental_actions.all( :limit => 10 ) %>
		<li><%= link_to rental_action.name, rental_action_path( rental_action )%></li>
	<% end %>
	</ul>
<% else %>
	<p><em>keine</em></p>
<% end %>

<div class="navlinks">
	<p><%= link_to 'Kunden bearbeiten', edit_customer_path %></p> 
	<p><%= link_to 'Zurück zur Übersicht', customers_path %></p>
</div>