<% @page_title = @customer.contact.name + ' – Details' -%>

<div class="showbox left w50">
  <h2>Kontaktdaten</h2>
  <%= render :partial => @customer.contact %>
  
  <h2>Geschäftliches</h2>
  <p><strong>Üblicher Preis: </strong><%= format_percent @customer.price_factor %></p>
  
  <h2>Notizen</h2>
  <% unless @customer.comment.empty? -%>
    <%= textilize h( @customer.comment ) %>
  <% else -%>
    <p><em>keine</em></p>
  <% end -%>

  <div class="navlinks">
      <p><%= link_to 'Bearbeiten', edit_customer_path %></p>
      <p><%= link_to 'Löschen', @customer, :confirm => 'Soll dieser Kunde wirklich unwiderruflich gelöscht werden?', :method => :delete %></p>
  </div>
</div>

<div class="showbox right w50">
  <h2>Letzte Mietvorgänge</h2>
  <div class="small_list">
    <% unless @customer.rental_actions.empty? -%>
      <ol class="event_list">
        <%= render :partial => 'rental_action', :collection => @customer.rental_actions %>
      </ol>
    <% else -%>
      <p><em>keine</em></p>
    <% end -%>
  </div>
</div>

<div class="navlinks">
  <%= choose_link ChoosingMode::RentalActionsChooseCustomer, @customer %>
  <%= choose_link ChoosingMode::EmployeesChooseContactTemplate, @customer.contact %>
  <p><%= link_to 'Zurück zur Übersicht', customers_path %></p>
</div>