<p><strong>Name: </strong><%=h contact.name %></p>
<p><strong>Adresse: </strong><%=h contact.adress %></p>
<p><strong>Ort: </strong><%=h contact.place %></p>
<p><strong>E-Mail-Adresse: </strong><%=mail_to contact.email %></p>
<p><strong>UID: </strong><%=h contact.uid %></p>
<p>
  <strong>Telefonnummern:</strong>
  <% unless contact.phone_numbers.empty? -%>
    <ul>
    <% for phone_number in contact.phone_numbers %>
      <li><%= h phone_number.number %> <em>(<%= phone_number.type.name %>)</em></li>
    <% end %>
    </ul>
  <% else -%>
    <em>keine</em>  
  <% end -%>
</p>