<%
  display ||= {}
  display[ :phone_numbers ] = true if display[ :phone_numbers ].nil?

  contact = contact_fields
  path ||= contact
-%>

<% fields_for path, contact do |c| %>
<fieldset>
  <legend>Kontaktinformationen</legend>
  <ol>
    <li><%= c.label :name, 'Name: <em>*</em>' %><%= c.text_field :name %></li>
    <li><%= c.label :staffer, 'Zuhanden: ' %><%= c.text_field :staffer %></li>
    <li><%= c.label :adress, 'Anschrift: <em>*</em>' %><%= c.text_field :adress %></li>
    <li><%= c.label :postcode, 'PLZ: <em>*</em>' %><%= c.text_field :postcode %></li>
    <li><%= c.label :place, 'Ort: <em>*</em>' %><%= c.text_field :place %></li>
    <li><%= c.label :email, 'E-Mail: ' %><%= c.text_field :email %></li>
    <li><%= c.label :uid, 'UID: ' %><%= c.text_field :uid %></li>
  </ol>
  
  <% if display[ :phone_numbers ] -%>
  <fieldset>
    <legend>Telefonnummern</legend>
    <ol id="phone_numbers">
      <%= collection_fields contact, :phone_numbers, :partial_name => 'contacts/phone_number_field', :partial_locals => { :path => path } %>
    </ol>
    <%= link_to_function 'Telefonnummer hinzufügen', "phoneNumberFields.addChild()" %>
  </fieldset>
  <% end -%>
</fieldset>
<% end %>