<% @page_title = 'Kunden suchen' -%>

<%= show_errors @search_model, 'die Suchanfrage zu bearbeiten' %>
<% pretty_form_for @search_model, :html => { :class => 'search' } do |f| %>
  <%= render :partial => 'contacts/contact_fields', :object => @search_model.contact, :locals => { :path => 'contact_search', :display => { :phone_numbers => false } } %>
  <fieldset>
    <legend>Zusätzliche Informationen</legend>
    <ol>
      <li><%= f.label :comment, 'Kommentar: ' %><%= f.text_field :comment %></li>
    </ol>
  </fieldset>
  <p><%= f.submit 'Suchen' %> <%= link_to 'Zurück zur Übersicht', employees_path, { :class => 'navlink' } %></p>
<% end %>