<fieldset>
	<legend>Mietvorgang</legend>
	<ol>
		<li><%= form.label :name, 'Name: <em>*</em>' %><%= form.text_field :name %></li>
		<li><%= form.label :start_date, 'Beginn: <em>*</em>' %> <%= form.date_select :start_date %></li>
		<li><%= form.label :end_date, 'Ende: <em>*</em>' %> <%= form.date_select :end_date %></li>
	</ol>
</fieldset>