<% unless item_rentals.count == 0 -%>
  <table style="width: 100%;">
    <thead>
      <tr>
        <td style="width: 45px;">Anzahl</td>
        <td>Gerätename</td>
        <td style="width: 80px;">Preis</td>
      </tr>
    </thead>
    <tfoot>
      <% unless @rental_action.overall_discount == 0 -%>
        <tr>
          <td></td>
          <td>Zwischensumme</td>
          <td><%= format_currency( @rental_action.overall_price_without_discount ) %></td>
        </tr>
        <tr>
          <td></td>
          <td>Rabatt (<%= format_percent( 1 - @rental_action.customer.price_factor ) %>)</td>
          <td><%= format_currency( -@rental_action.overall_discount ) %></td>
        </tr>
      <% end -%>
      <tr>
        <td></td>
        <td>Gesamt</td>
        <td><%= format_currency( @rental_action.overall_price ) %></td>
      </tr>
    </tfoot>
    <tbody>
      <%= render :partial => 'item_rental', :collection => item_rentals %>
    </tbody>    
  </table>
<% else -%>
  <p><em>(keine)</em></p>
<% end -%>