<% @page_title = 'Neues Gerät hinzufügen' -%>

<%= show_errors @item, 'das Gerät hinzuzufügen' %>
<% form_for [ @item.item_category, @item ], :html => { :class => 'pretty' } do |f| %>
	<fieldset>
		<legend>Gerät</legend>
		<ol>
			<li><%= f.label :name, 'Name: <em>*</em>' %><%= f.text_field :name %></li>
			<li><%= f.label :item_category_id, 'Kategorie: ' %><%= f.hidden_field :item_category_id, :value => @item.item_category.id %>
				<%= @item.item_category.name %></li>
			<li><%= f.label :total_count, 'Anzahl: <em>*</em>' %><%= f.text_field :total_count %></li>
		</ol>
	</fieldset>
	<% fields_for @item.price do |price_fields| %>
		<%= render :partial => 'simple_price_fields', :locals => { :f => price_fields } %>
	<% end %>
	<p><%= f.submit 'Hinzufügen' %> <%= link_to 'Zurück', :back, { :class => 'navlink' } %></p>
<% end %>