<%
  @page_title = @item.full_name + ' – Details'

  full_path = [ @item.item_category, @item ]
-%>

<div class="showbox left w60">
  <h2>Gerät</h2>
  <p><strong>Kategorie: </strong><%=h @item.item_category.name %></p>
  <p><strong>Bezeichnung: </strong><%=h @item.full_name %></p>
  <p><strong>Anzahl gesamt: </strong><%=h @item.total_count %></p>
  <p><strong>Derzeit lagernd: </strong><%=h @item.num_in_stock %></p>
  <p><strong>Preis: </strong> <%= render :partial => 'items/prices/' + @item.price_type.tableize.singularize, :object => @item.price %></p>

  <div class="navlinks">
    <p>
      <%= link_to 'Bearbeiten', edit_item_category_item_path, { :class => 'navlink' } %> |
      <%= link_to 'Löschen', full_path, { :confirm => 'Soll dieses Gerät wirklich gelöscht werden?', :method => :delete } %>
    </p>
  </div>
</div>

<div class="showbox right w40">
  <h2>Statistik</h2>
  <p><strong>Einsätze gesamt: </strong><%=h @item.rentals_overall %></p>
  <p><strong>Einsätze/Stück: </strong><%= number_with_precision( @item.rentals_per_piece, 3 ) %></p>
  <p><strong>Umsatz gesamt: </strong><%=format_currency @item.revenue_overall %></p>
  <p><strong>Umsatz/Stück: </strong><%=format_currency @item.revenue_per_piece %></p>  
</div>

<div class="showbox left w100">
  <h2>Verlauf</h2>
  <div class="small_list">
    <ol class="event_list">
      <% for event in @item.events -%>
          <%= render :partial => 'items/events/' + event.class.table_name.singularize, :object => event %>
      <% end -%>
    </ol>
  </div>
  <div class="navlinks">
    <p>
      <%= link_to 'Notiz hinzufügen', new_item_category_item_item_note_path( *full_path ) %> |
      <%= link_to 'Bestand ändern', new_item_category_item_item_quantity_change_path( *full_path ) %>
    </p>
  </div>
</div>

<div class="navlinks">
  <%= choose_link ChoosingMode::ItemRentalsChooseItem, @item %>
  <p><%= link_to 'Zurück zur Kategorie', item_category_items_path, { :class => 'navlink' } %></p>
</div>