<% @page_title = 'Mitarbeiter suchen' -%>

<%= show_errors @search_model, 'die Suchanfrage zu bearbeiten' %>
<% pretty_form_for @search_model, :html => { :class => 'search' } do |f| %>
  <%= render :partial => 'contacts/contact_fields', :locals => { :contact => @search_model.contact, :path => 'contact_search', :display => { :phone_numbers => false } %>
  <fieldset>
    <legend>Fähigkeiten</legend>
    <ol id="skills">
      <%= render :partial => 'skills/skill_field', :collection => @search_model.skills, :locals => { :use_select_menu => true } %>
    </ol>
    <%= add_skill_link( true ) %>
  </fieldset>
  <fieldset>
    <legend>Zusätzliche Informationen</legend>
    <ol>
      <li><%= f.label :comment, 'Kommentar: ' %><%= f.text_field :comment %></li>
    </ol>
  </fieldset>
  <p><%= f.submit 'Suchen' %> <%= link_to 'Zurück zur Übersicht', employees_path, { :class => 'navlink' } %></p>
<% end %>